<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add item</title>
</head>
<body>
    <form action="/addit" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="enter name of product" name="pname">
        <input type="number" placeholder="mobile no">
        <input type="text" placeholder="give brief about the product when bought , why sell" name="desc">
        <input type="number" placeholder="price at which want to sell" name="price">
        <input type="email" placeholder="enter your email" name="email">
        <input type="text" placeholder="college id number" name="id">
        <input type="file" name="pfile" id="pfile">
        <input type="submit">
    </form>
</body>
</html>