<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us </title>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .main_brain{
        height: 50px;
        width: 100%;
        background-color: blue;
    }
    nav li{
        margin-left: 14vw;
        margin-top: 1vw;
    }
    .lists li{
        height: 30vh;
        width: 70%;
        border: 2px solid red;
        position: relative;
        left:15% ;
    }
    .pro{
        height: 80%;
        width: 10vw;
    }
    .about{
        text-align: center;
    }
</style>
<body>
    <div class="main_brain">
        <nav style="display: flex;">
            <li><img src="https://res.cloudinary.com/factnotes/image/upload/v1759348565/ChatGPT_Image_Oct_2_2025_01_18_31_AM_vzqofl.png" alt="logo" style="height: 8vh;width: 100%;position: relative;bottom: 35px;"></li>
            <li> <a href="/home" style="color: black;"> Home</a></li>
            <li> Contact us</li>
            <a href="/aboutus"><li style="color: black;">About us</li></a>
        </nav>
     </div>
     <div class="center" style="text-align: center;">
       <h1> Contact us :-</h1>
     </div>
     <div class="lists">
        <h3>Our team:-</h3>
        <li style="display: flex;"><div class="img">
            <img src="profile.jpg" alt="profile" class="pro">
        </div> <div class="about">
            <h3>Dillkush kumar rajpurohit
<p>Email:- dilkushpurohit963@gmail.com <br>
A student at Mugneeram bangue memerial engineering collge <br> persuing B.E in Electronics and computer engineering <br> cam up with the mission to ease indian students life 
</p>

            </h3>
        </div></li>

        <li style="display: flex;"><div class="img">
            <img src="profile.jpg" alt="profile" class="pro">
        </div> <div class="about">
            <h3>Dillkush kumar rajpurohit
<p>Email:- dilkushpurohit963@gmail.com <br>
A student at Mugneeram bangue memerial engineering collge <br> persuing B.E in Electronics and computer engineering <br> cam up with the mission to ease indian students life 
</p>

            </h3>
        </div></li>

        <li style="display: flex;"><div class="img">
            <img src="profile.jpg" alt="profile" class="pro">
        </div> <div class="about">
            <h3>Dillkush kumar rajpurohit
<p>Email:- dilkushpurohit963@gmail.com <br>
A student at Mugneeram bangue memerial engineering collge <br> persuing B.E in Electronics and computer engineering <br> cam up with the mission to ease indian students life 
</p>

            </h3>
        </div></li>


        <li style="display: flex;"><div class="img">
            <img src="profile.jpg" alt="profile" class="pro">
        </div> <div class="about">
            <h3>Dillkush kumar rajpurohit
<p>Email:- dilkushpurohit963@gmail.com <br>
A student at Mugneeram bangue memerial engineering collge <br> persuing B.E in Electronics and computer engineering <br> cam up with the mission to ease indian students life 
</p>

            </h3>
        </div></li>


        <li style="display: flex;"><div class="img">
            <img src="profile.jpg" alt="profile" class="pro">
        </div> <div class="about">
            <h3>Dillkush kumar rajpurohit
<p>Email:- dilkushpurohit963@gmail.com <br>
A student at Mugneeram bangue memerial engineering collge <br> persuing B.E in Electronics and computer engineering <br> cam up with the mission to ease indian students life 
</p>

            </h3>
        </div></li>
     </div>
</body>
</html>