<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Scommerce</title>
    <link rel="icon" href="mainlogo.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">

</head>

<body style="background-color: #000;">
    <div class="navbar">
        <nav>
            <ul class="navbar-ul">
                <li id="logo"><img src="mainlogo.png" alt=""></li>

                <li id="navitems">
                    <ul class="navitems-items" style="color: white;position: relative;left:40%;">
                        <li><a href="/"> Home </a></li>
                        <li><a href="#about"> About us </a></li>
                        <li><a href="#contact"> Contact us </a></li>
                        <li><a href="founder"> Founders</a></li>
                    </ul>
                </li>
                <li id="login" style="position: relative;left: 24%;">
                    <h4 style="margin-top: 6px"> login</h4>
                </li>
                <li id="register" style="position: relative;left: 24%; ><h4 style=" margin-top: 6px;"> Register</h4>
                </li>
                <li id="cross"><img src="ham.png" alt="" style="height: 5px; width: 5px;"></li>
            </ul>
        </nav>
    </div>
    <div class="mid" style="  display: flex;
    flex-direction: row;">
        <div class="mid-left" style="object-fit: cover;">
            <video autoplay muted loop playsinline preload="auto" style="object-fit: cover;width:100%;">
                <source src="intro.mp4" type="video/mp4">

                Your browser does not support the video tag
            </video>
        </div>
        <div class="mid-right" style="justify-content: center;align-items: center; display: flex;">
            <ul style="    display: flex;
    flex-direction: column;" class="mid-right-ul">
                <h1 style=" font-family: Stack Sans Text, sans-serif;
  font-optical-sizing: auto;
  font-style: normal; color: white;text-align: center;">Let's Connect through Scommerce</h1>
                <h3 style="color: white;text-align: center;">The marketplace for college students to connect them online
                </h3>
                <li class="lo" style="position: relative;left: 38%"><a href="/"> Login </a></li>
                <li class="re" style="position: relative;left:38%"><a href="/"> Register </a></li>
            </ul>
        </div>
    </div>
    <div class="About-us" id="about">
        <div class="title">
            <h1 style="color: white;text-align: center;  font-family: Stack Sans Text, sans-serif;">About us:-</h1>
            <h3 class="text">We are <span></span></h3>
        </div>
    </div>
    <div class="cards">
        <div class="cards-items">
            <li class="top-heading"
                style="color: white;text-align: center; font-family: Stack Sans Text, sans-serif;font-size: 2rem;">
                Marketplace</li>
            <li class="mid-tag"><img src="li1.png" alt="" style="height:100%;width: 100%;"></li>
            <li class="bottom-part">
                <h4 style="color: white;text-align: center;">We are in the mission to simplify the college market . so
                    it become easy for young future to work and focus on the subjects </h4>
            </li>
        </div>
        <div class="cards-items">
            <li class="top-heading"
                style="color: white;text-align: center; font-family: Stack Sans Text, sans-serif;font-size: 2rem;">
                Budget-Friendly
            </li>
            <li class="mid-tag"><img src="li2.png" alt="" style="height:100%;width: 100%;"></li>
            <li class="bottom-part">
                <h4 style="color: white;text-align: center;">We are in the mission to simplify the college market . so
                    it become easy for young future to work and focus on the subjects </h4>
            </li>
        </div>
        <div class="cards-items">
            <li class="top-heading"
                style="color: white;text-align: center; font-family: Stack Sans Text, sans-serif;font-size: 2rem;">
                Peer-Support</li>
            <li class="mid-tag"><img src="li1.png" alt="" style="height:100%;width: 100%;"></li>
            <li class="bottom-part">
                <h4 style="color: white;text-align: center;">We are in the mission to simplify the college market . so
                    it become easy for young future to work and focus on the subjects </h4>
            </li>
        </div>
    </div>
    <div class="bottom-about">
        <h1 style="color: white;font-size: 2rem;text-align: center;">Scommerce:- The ecommerce for 2nd hand things
            between juniors and seniors.</h1>
        <h3 style="font-size: 2rem;color: white;text-align: center;background-color: blue;">:::::::Our numbers tells
            everything:::::::</h3>
        <ul class="data">
            <li class="stu" style="font-size: 2rem;text-align: center;" style="display: flex;">
                <h3>Students connected</h3> <span style="color: white;"></span>
            </li>
            <li class="succ" style="font-size: 2rem;text-align: center;" style="display: flex;">
                <h3>Successful deliveries</h3> <span></span>
            </li>
            <li class="coll" style="font-size: 2rem;text-align: center;" style="display: flex;">
                <h3>colleges uploaded </h3><span></span>
            </li>
        </ul>
    </div>
    <div class="scroll">
        <img src="scroll.png" alt="jhhj">
    </div>
    <div class="contact-us" id="contact">
        <h1 style="color: black;font-size: 3rem;text-align: center;">Contact-us</h1>
        <form action="" method="get" class="form">
            <input type="email" placeholder="enter your email">
            <input type="text" placeholder="Name">
            <input type="number" placeholder="Phone number">
            <textarea name="contact" id="us" placeholder="enter the query"></textarea>
            <button type="submit"
                style="height: 40px;width: 60px;border: 2px solid yellow;margin-top: 8px;">Submit</button>
        </form>
    </div>
    <div class="founders" id="founder">
        <h1 style="text-align: center;">Our Founders:--</h1>
        <div class="cards-it">
            <li class="image"
                style="border: 2px solid green;height: 70%;border-radius: 50%;width: 50%;position: relative;left: 25%;background-image: url(profile.png);background-size: cover;">



            </li>
            <li class="data">
                <h3 style="text-align: center;width: 100%;">Dillkush raz (MBM UNIVERSITY) <br>Co founder
                    <br>
                    <div class="img"><img src="github.png" alt="imp" class="image" style="height: 40%;width: 10%;"> <img
                            src="linkedin.png" alt="linkedin">
                        <img src="discord.png" alt="">
                    </div>
                </h3>

            </li>
        </div>
        <div class="cards-it">
            <li class="image"
                style="border: 2px solid green;height: 70%;border-radius: 50%;width: 50%;position: relative;left: 25%;background-image: url(profile.jpg);background-size: cover;">



            </li>
            <li class="data">
                <h3 style="text-align: center;width: 100%;">RISHABH KOTHARI (IIT MADRAS)<br>Mentor
                    <br>
                    <div class="img"><img src="github.png" alt="imp" class="image" style="height: 40%;width: 10%;"> <img
                            src="linkedin.png" alt="linkedin">
                        <img src="discord.png" alt="">
                    </div>
                </h3>

            </li>
        </div>
    </div>
    <footer>
        <h1 style="text-align: center; color: white;">Scommerce</h1>
        <h3 style="text-align: center;color: white;">Scommercce is a online platform which took an initiative to create a marketplace for 2nd hand things for juniors and 
seniors . we ask your details (email , name) so that the sender or buyer can contact you properly we are not responsible of how the creator of college dashboard create that page we can only authorize it only if needed we are not 
resposnible for any items which are listed by our sellers the person who is buyer its their responsiblity to verify it then only pay the money accordingly we are just a bridge who provide a hint of access 
<h2>we are only taking information of colleges which are publicly available and free to use for everybody if in case you get an issue or want to promblem you can feel free to contact us </h2>

        </h3>
    </footer>
    <div class="last" style="height: 5vh;width: 100%; color: white;text-align: center;">
        © copyright 2025 under Scommerce pvt limited
    </div>
</body>

</html>