<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp verify</title>
</head>
<body>
    <h1>otp verify</h1>
    <form action="/otpverify" method="post">
        <input type="text" name="otp" placeholder="enter otp">
        <input type="submit">

    </form>
</body>
</html>