* {
    padding: 0;
    margin: 0;
}



.navbar li {

    height: 70px;
}

#logo {
    
    width: 20%;
}

#navitems {
    
    width: 30%;
}

#login {

    width: 10%;

}

#register {
    
    width: 10%;
}

#cross {
    
    width: 10%;
}

#logo img {
    height: auto;
    width: 60%;
}

.navbar ul {
    display: flex;
}

.navitems-items li {
    margin: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style: none;
    height: 25px;

}

.navitems-items li:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 2px;


}

#login {
    margin: 1%;
    height: 37px;
    width: 91px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    justify-content: center;

    color: white;
}
#register {
    margin: 1%;
    height: 37px;
    width: 91px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    list-style: none;
    justify-content: center;
    
    color: white;
}
#login:hover{
    background-color: blue;
}
#register:hover{
    background-color: blue;
}
.mid-left{
    height: 80vh;
    width: 70%;
    
    
}
.lo{
    color: white;
    border: 2px solid white;
    height: 35px;
    border-radius: 15px;
    text-align: center;
    width: 75px;
}
.re{
    color: white;
    border: 2px solid white;
     height: 35px;
     border-radius: 15px;
     text-align: center;
    width: 75px;
}
.mid-right-ul li{
    justify-content: center;
    align-items: center;
}

.mid-right-ul li{
    list-style: none;
margin-top: 2%;
}
.lo:hover{
    color: black;
    background-color: white;
    border: 1px solid white;
}
.re:hover{
    color: black;
    background-color: white;
    border: 1px solid white;
}
.text{
    text-align: center;
    color: white;
    
}
.text span::before{
    content: "Scommerce";
    color: white;
    animation: word 5s infinite;
}
.text span::after{
    content: " ";
    background-color: white;
    color: white;
    width: 0;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid white;
    }
}
@keyframes word{
    0%{
        content: 'Scommerce';
    }
    25%{
        content: "Hope";
    }
    50%{
        content: "Online platform";
    }
    75%{
        content: "Marketplace";
    }
    100%{
        content: "helper";
    }
}
.cards{
    height: 50vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-items{
    height: 46vh;
    width: 30%;
    border: 2px solid white;
    margin: 1%;
}
.top-heading{
    width: 100%;
    height: 20%;
    
}
.mid-tag{
    height: 50%;
    height: 60;
    
}
.bottom-part{
    height: 20%;
    width: 100%;
    
}
.cards-items{
    box-shadow: 0px 15px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.cards-items li{
    list-style: none;
}
.data li{
    height: 30vh;
    width: 30%;
    border: 2px solid white;
    margin: 2%;
    color: white;
}
.data{
    display: flex;
}
.stu span::before{
content: "100";
color: white;
animation: change 2s;
}
@keyframes change{
    0%{
        content: "15";
    }
    25%{
        content: "25";
    }
    50%{
        content: "50";
    }
    75%{
        content: "75";
    }
    100%{
        content: "100";
    }
}

.succ span::before{
content: "20";
color: white;
animation: changed 2s;
}
@keyframes changed{
    0%{
        content: "5";
    }
    25%{
        content: "6";
    }
    50%{
        content: "7";
    }
    75%{
        content: "8";
    }
    100%{
        content: "20";
    }
}
.coll span::before{
    content: "5";
    color: white;
    animation: check 2s;
}

@keyframes check{
    0%{
        content: "1";
    }
    25%{
        content: "2";
    }
    50%{
        content: "3";
    }
    75%{
        content: "4";
    }
    100%{
        content: "5";
    }
}
.contact-us{
    
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background:linear-gradient(45deg,blue,aqua,green);
}
.form{
    
    display: flex;
justify-content: center;
align-items: center;
    flex-direction: column;
}
.form input{
    width: 50%;
    margin: 2%;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
}
.form textarea{
    width: 50%;
      border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
}
.scroll{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;

    
}
.scroll img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.founders{
    height: 60vh;
    width: 100%;
    background:linear-gradient(45deg,orange,yellow,red);
}
.founders{
    display: flex;
}
.cards-it{

    height: 40vh;
    margin: 2%;
    width: 30%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    height: 25%;
    width: 6%;
    margin: 5px;

}
.img img:hover{
    background-color: blue;
    
}
footer{
    height: 50vh;
    width: 100%;
    background-color: grey;
    margin-top: 5vh;
}